<!-- {% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | relative_url }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %} -->

<div class="sidebar sticky">
<nav class="nav__list">

<ul class="nav__items">
  {% assign mycards = site.cards | group_by:"category" | sort:"name" %}
  {% for cat in mycards %}
  <li><span class="nav__sub-title">{{ cat.name | capitalize }}</span>  </li>
        {% assign item_groups = cat.items | group_by:"type_general" | sort:"name" %}
          {% for item_group in item_groups %}
            <li><span class="nav__sub-title">{{ item_group.name | capitalize }}</span>

              <ul>
                  {% assign items = item_group.items | sort: 'title' %}
                    {% for item in items %}
                      <li
                      {% if item.draft %}
                      style="font-style: italic;"
                      {% else %}
                      style="font-weight: bold;"
                      {% endif %}
                      ><a href="{{ item.url }}">
                        {{ item.title %}}
                        <!-- {% if item.draft %}
                        *
                        {% endif %} -->


                      </a></li>
                        {% endfor %}
              </ul>
            </li>
          {% endfor %}
  {% endfor %}
</ul>
</nav>
</div>
